body {
  background: #333;
}
.clock {
  display: flex;
  align-items: center;
  font-size: 4em;
  text-align: center;
  margin: 200px auto;
  font-family: Arial, Helvetica, sans-serif;
  color: yellow;
}
.clock span {
  margin: 0 0.5rem;
  padding: 20px;
  background: #444;
}
